# Dependencies
node_modules/
.pnpm-store/

# Expo / build
.expo/
dist/
web-build/
expo-env.d.ts
ios/
android/

# Testing
coverage/

# Misc
.DS_Store
.env
.env.*
*.log

# IDE
.idea/
.vscode/

# Generated / lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock
*.tsbuildinfo
*.jsbundle
